<div class="login-container">
  <h2>{{pageTitle}}</h2>
  <div class="login-form">
    <form (submit)="$event.preventDefault()">
      @if (!userName.untouched && userName.errors && userName.errors['required']) { <p><span>{{userNameLabel}}  is required</span></p> }
      @if (!userName.untouched && userName.errors && userName.hasError('minlength')) { <p><span>{{userNameLabel}}  must be at least {{userName.getError('minlength').requiredLength}} characters long</span></p> }
      @if (!userName.untouched && userName.errors && userName.hasError('maxlength')) { <p><span>{{userNameLabel}}  must be at most {{userName.getError('maxlength').requiredLength}} characters long</span></p> }
        <p>
          <app-text-input [inputId]="'login-username'"  [inputControl]="userName"  [isPassword]="false" [placeHolder]="userNameLabel" (inputChanged)="onUserNameUpdate($event)" ></app-text-input>
        </p>
      @if (!password.untouched && password.errors && password.errors['required']) { <p><span>{{passwordlabel}}  is required</span></p> }
      @if (!password.untouched && password.errors && password.hasError('minlength')) { <p><span>{{passwordlabel}}  must be at least {{password.getError('minlength').requiredLength}} characters long</span></p> }
      @if (!password.untouched && password.errors && password.hasError('maxlength')) { <p><span>{{passwordlabel}}  must be at most {{password.getError('maxlength').requiredLength}} characters long</span></p> }
        <p>
          <app-text-input [inputId]="'login-password'"  [inputControl]="password"  [isPassword]="true" [placeHolder]="passwordlabel" (inputChanged)="onPasswordUpdate($event)"></app-text-input>
        </p>
      <p><app-standard-button [buttonId]="'login-button'" (clicked)="login()" buttonText="Login" [isDisabled]="!userName.valid || !password.valid"></app-standard-button> <span id="signup-link" (click)="goToSignup()">Create account </span></p>
      <p><app-standard-button [buttonId]="'login-keycloak-button'" (clicked)="loginWithKeycloak()" buttonText="Login with Keycloak"></app-standard-button></p>
      <p><span id="reset-password-link" (click)="goToResetPassword()">Password forgotten? </span></p>
      @if (wrongLogin) {
        <p id="wrong-login-message"><span>Wrong username or password</span></p>
      }
    </form>
  </div>
</div>
